
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
  height: 100%;
  min-height: 100%; 
}
@media only screen and (max-width: 600px) {
  body {
overflow: auto;  }
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative
    ;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.slider{
    width: 25%;
    padding-top: 20px;
    
    
}
.mySlides {display:none;
width:100%;
    height: 400px;}
/*footer*/

#footer{
  height:160px!important;
  overflow: auto;
  background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
  margin:0px;
    bottom: 0;
    width: 100%;
    padding: 0px;
}
footer.ex1 {
  min-height: 200px;
}

content-wrap.ex1 {
  min-height: 300px;
  overflow: auto;
}*/
.Container{
  height: 50px !important;
    width: 100%;
   padding: 0px;
   margin: 0%;
    font-size: 16px; 
}
#wrapper{
  overflow: auto;
}
#content-wrap
{
    overflow: scroll;
    
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa {
    padding-top: 10px;
    padding-bottom: 10px;
  font-size: 20px;
  width: 20px;
    margin: 5px;
  text-align: center;
  text-decoration: none;
}
#cont-img{
    padding-top: 10px;
    padding-right: 250px;
    height: 30%!important;

    
}
#c a{
    color: white;
    
}
#c a:hover{
    color:#4CAF50;
}
#c p{color: #4CAF50}
	
.blink{
		
	    background-color: black;
		text-align: center;
	}
	span{
        font-weight: bolder;
		font-family: sans-serif;
		color: green;
		animation: blink 1s linear infinite;
	}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}
    

/*logo */
  #img1{
            width:100px;height:70px; float: left; padding-left:20px; }
/* contact us page css */
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	padding:25px;
   width:50%;
}

#contact h3 {
	color: green;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:50%;
	border:none;
	background:black;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:green;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
/* abou us */
.heading
{
    color:#4CAF50;
    
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #000;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
 
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
    height:740px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}